{% extends "template.html.twig" %}

{% block title %}Actors{% endblock %}

{% block body %}
<h1>Welcome on actors page</h1>

{# {% for exemple in result %}

<p>{{ exemple.id }}</p>
<p>{{ exemple.title }}</p>
<p><a href="{{baseUrl}}/exemple/show/{{exemple.id}}">Lien</a></p>

{% endfor %} #}

{% endblock %} 