{% extends "template.html.twig" %}

{% block title %}Genres{% endblock %}

{% block body %}
<h1>Genres</h1>


{% for genre in genres %}

<p>Id d'artiste : {{ genre.id_g }}</p>

{% endfor %}

{% endblock %}