{% extends "template.html.twig" %}

{% block title %}HotFlix{% endblock %}

{% block meta %}

    <meta name="description" content="">
    <meta name="keywords" content="">

{% endblock %}

{% block body %}

	<section class="home">

		<!-- add genre form -->

		<div class="container">

			<div class="row">

				<div class="col-12 col-lg-12 text-center profile__form">
	
					<h3 style="color:white; text-align:center;">{{ message }}</h3>

				</div> 

			</div>

		</div>

	</section>

{% endblock %}