{% extends "template.html.twig" %}

{% block title %}Directors{% endblock %}

{% block body %}
<h1>Welcome on directors page</h1>


<div class="container">
			<div class="row col-md-12">
			{% for director in directors %}
				<div class="col-md-4">
					<a href="{{baseUrl}}/films/{{ director.id_a }}"><img class="img-thumbnail" src="{{ director.photo_a }}" alt="image actor"/></a>
				</div>
                {% endfor %}

			</div>
		</div>




{% endblock %} 