{% extends "template.html.twig" %}

{% block title %}Actors{% endblock %}

{% block body %}
<h1>Welcome on actors page</h1>


{% for actor in actors %}

<a href="actors/show/{{ actor.id_a }}">Id d'artiste : {{ actor.id_a }}</a>


{% endfor %}



{% endblock %} 