{% extends "template.html.twig" %}

{% block title %}DEmande de réinitialisation du mot de passe{% endblock %}

{% block meta %}

    <meta name="description" content="">
    <meta name="keywords" content="">

{% endblock %}

{% block body %}

	<!-- edition utilisateur form -->
	<section class="home">

		<div class="container">

			<div class="row">

				<div class="col-12 col-lg-12 text-center profile__form text-light" style="text-align:center; color:white;">

					FORMULAIRE A CONSTRUIRE

				</div>

			</div>

		</div>

	</section>
	<!-- edition utilisateur form -->

{% endblock %}