{% extends "template.html.twig" %}

{% block title %}Actors
{% endblock %}

{% block body %}
	<h1>Film</h1>

		<div class="container">
			<div class="row col-md-12">
			{% for film in films %}
				<div class="col-md-4">
					<a href="{{baseUrl}}/films/{{ film.id_f }}"><img class="img-thumbnail" src="{{ film.poster_f }}" alt="image film"/></a>
				</div>
				{% endfor %}
			</div>
		</div>
	

{% endblock %}

