{% extends "template.html.twig" %}
{# enfant de films #}

{% block body %}
<h1>Film</h1>

<p>Id : {{ result.id_f }}, Titre : {{ result.titre_f }}, Année de sortie :  {{ result.annee_f }}, Résumé :  {{ result.resume_f }}</p>

{% endblock %}
