{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block meta %}

    <meta name="description" content="">
    <meta name="keywords" content="">

{% endblock %}

{% block body %}

<div class="home">

	<div class="container bg-light text-dark mt-1">

		<div class="row col-md-12">

			<a href="{{baseUrl}}/artists/1" style="color:#ffd80e; font-size:25px;">Acteurs<a>

		</div>

		<div class="row col-md-12">

			<a href="{{baseUrl}}/artists/2" style="color:#ffd80e; font-size:25px;">Réalisateurs<a>

		</div>

	</div>

</div>


{% endblock %} 