{% extends "template.html.twig" %}

{% block title %}Artistes{% endblock %}

{% block body %}

	<div class="container">

		<div class="row"> <!-- Début row -->

			<div class="col-12 p-4 bg-light text-dark">
			
				<a href="{{baseUrl}}/films/">Films</a>
				&rarr; Artistes
 
			</div> 

		</div>

	</div>

	<div class="container bg-light text-dark mt-1">

        <a href="{{baseUrl}}/artists/add" class="float-right btn btn-sm btn-success">Ajouter un artiste</a> 

		<div class="row col-md-12">

            <a href="{{baseUrl}}/artists/1">Acteurs<a>

		</div>

		<div class="row col-md-12">

            <a href="{{baseUrl}}/artists/2">Réalisateurs<a>

		</div>

	</div>


{% endblock %} 